@model CommunityMembersVM

@using SharpMember.Core.Views.ViewModels

<form asp-action="Members">
    <h2>Members</h2>
    <div class="form-horizontal">
        <input type="submit" value="Delete Selected" class="btn btn-default" />
        <a asp-action="Create" asp-controller="Members" asp-route-commId="@Model.CommunityId" class="btn btn-default">Create New Member</a>
        <a asp-action="Edit" asp-controller="Communities" asp-route-id="@Model.CommunityId" class="btn btn-default" style="float: right;">Back To Community Setting</a>

        <br />
        <br />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <th width="100px">Select</th>
                    <th width="150px">@nameof(CommunityMemberItemVM.MemberNumber)</th>
                    <th width="120px">@nameof(CommunityMemberItemVM.Renewed)</th>
                    <th>@nameof(CommunityMemberItemVM.Name)</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ItemViewModels.Count; i++)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(m => m.ItemViewModels[i].Selected)</td>
                        <td>@Html.DisplayFor(m => m.ItemViewModels[i].MemberNumber)</td>
                        <td>@Html.DisplayFor(m => m.ItemViewModels[i].Renewed)</td>
                        <td><a asp-action="Edit" asp-controller="Members" asp-route-id="@Model.ItemViewModels[i].Id"><div>@Model.ItemViewModels[i].Name</div></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>