@model CommunityMembersVm
@using SharpMember.Core.Views.ViewModels

<form asp-action="Members">
    <h2>Members</h2>
    <input type="hidden" asp-for="CommunityId" />
    <div class="form-horizontal">
        <input type="submit" value="Delete Selected" class="btn btn-default" />
        <a asp-action="Create" asp-controller="Members" asp-route-commId="@Model.CommunityId" class="btn btn-default">Create New Member</a>
        <a asp-action="Edit" asp-controller="Communities" asp-route-id="@Model.CommunityId" class="btn btn-default" style="float: right;">Back To Community Setting</a>

        <br />
        <br />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <th width="50px">Select</th>
                    <th width="50px">No.</th>
                    <th width="80px">@nameof(MemberItemVm.Renewed)</th>
                    <th>@nameof(MemberItemVm.Name)</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.MemberItemVms.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" asp-for="MemberItemVms[i].Id" />
                            @Html.CheckBoxFor(m => m.MemberItemVms[i].Selected)
                        </td>
                        <td>@Html.DisplayFor(m => m.MemberItemVms[i].MemberNumber)</td>
                        <td>@Html.DisplayFor(m => m.MemberItemVms[i].Renewed)</td>
                        <td><a asp-action="Edit" asp-controller="Members" asp-route-id="@Model.MemberItemVms[i].Id"><div>@Model.MemberItemVms[i].Name</div></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>