@model SharpMember.Core.Data.Models.MemberProfile

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MemberProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Renewed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Renewed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CeaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CeaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
