@model MemberIndexVM

@using SharpMember.Core.Views.ViewModels

<form asp-action="Index">
    <h2>Members</h2>
    <div class="form-horizontal">
        <input type="submit" value="Delete Selected" class="btn btn-default" />
        <a asp-action="Create" class="btn btn-default">Create New Member</a>

        <br />
        <br />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <th width="100px">@nameof(MemberIndexItemViewModel.Selected)</th>
                    <th width="150px">@nameof(MemberIndexItemViewModel.MemberNumber)</th>
                    <th width="120px">@nameof(MemberIndexItemViewModel.Renewed)</th>
                    <th>@nameof(MemberIndexItemViewModel.Name)</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ItemViewModels.Count; i++)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(m => m.ItemViewModels[i].Selected)</td>
                        <td>@Html.DisplayFor(m => m.ItemViewModels[i].MemberNumber)</td>
                        <td>@Html.DisplayFor(m => m.ItemViewModels[i].Renewed)</td>
                        <td><a asp-action="Edit" asp-route-id="@Model.ItemViewModels[i].Id">@Model.ItemViewModels[i].Name</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>