@model GroupUpdateVm
@addTagHelper *,SharpMember
@using SharpMember.Core.Views.ViewModels
@using SharpMember.Controllers
@using SharpMember.Definitions
@using SharpMember.Core.Definitions

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Group</h4>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <vc:form-groups entity-type=@Model.GetType()
                            instance=@Model
                            hidden-fields="id,CommunityId"
                            readonly-fields=""
                            text-area-fields="@nameof(Model.Description)" />
        </div>

        <div class="col-md-5">
            <table class="table">
                <thead>
                    <tr>
                        <th width="50px">Select</th>
                        <th width="50px">No.</th>
                        <th width="80px">@nameof(MemberItemVm.Renewed)</th>
                        <th>@nameof(MemberItemVm.Name)</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.MemberItemVms.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" asp-for="MemberItemVms[i].Id" />
                                <input type="checkbox" asp-for="MemberItemVms[i].Selected" />
                                @*@Html.CheckBoxFor(m => m.MemberItemVms[i].Selected)*@
                            </td>
                            <td>@Html.DisplayFor(m => m.MemberItemVms[i].MemberNumber)</td>
                            @*<td>@Html.CheckBoxFor(m => m.MemberItemVms[i].Renewed)</td>*@
                            <td><input type="checkbox" asp-for="MemberItemVms[i].Renewed" /></td>
                            <td><a asp-action="Edit" asp-controller="Members" asp-route-id="@Model.MemberItemVms[i].Id"><div>@Model.MemberItemVms[i].Name</div></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <button type="submit" value="Save" class="list-group-item">Save</button>
                <button type="submit" value="@PostCommandNames.PostToRemoveMembers" name="command" class="list-group-item">@PostCommandNames.PostToRemoveMembers</button>
                <a  asp-action="AddMember" asp-route-id="@Model.Id" class="list-group-item"><div>Add Members</div></a>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action=@nameof(CommunitiesController.Groups) asp-controller=@ControllerNames.Communities asp-route-commId="@Model.CommunityId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
